<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buzzware.sursi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sursi">
        <activity
            android:name=".Activities.EGuideDetailActivity"
            android:exported="true" />
        <activity android:name=".Activities.HandSurgery"
            android:exported="true"/>
        <activity android:name=".Activities.ScheduleAppointment"
            android:exported="true"/>
        <activity
            android:name=".Activities.ThreadDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".Activities.CreateThreadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StartUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.ConversationActivity"
            android:exported="true" />
    </application>

</manifest>